{{ $stats := .stats }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pacstash - Stats</title>
</head>
<body>
    <main>
        <h1>Stats</h1>
        <ul>
            {{range $stat := $stats }}
                {{ $packages := $stat.Packages}}
                <li>
                    <div>{{ $stat.UpstreamName }}</div>
                    <ul>
                        {{ range $package := $packages }}
                            <li>{{ $package.Filename }}</li>
                        {{end}}
                    </ul>
                </li>
            {{end}}
        </ul>
    </main>
</body>
</html>